<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <h1><b>ประวัติส่วนตัว</b></h1>
  <img src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/101001982_133966218269571_7461102800359767351_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=Kp-Dnc1DCSgAX-eFk12&tp=18&oh=219a3f1a001eb4fddba4ed0648f512a0&oe=5FCA600F" width="500">
  <p>
    นางสาวนูรีซา เส็นบัตร
    อายุ 22 ปี 
  </p>

  

  <ion-button expand="full" shape="round" (click)="goToContact()">
    <ion-icon slot="start" name="start"></ion-icon>

    Goto Register
  </ion-button>
  

</ion-content>
