<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <!-- <ion-item source *ngFor="let c of newses"><ion-label> -->
    <!-- <ion-text color="primary">
      <h3>{{ c.name }}</h3>
    </ion-text> -->

    <!-- <p>{{ n.articles }},{{ n.publishedAt }},{{n.url}}</p> -->
  <!-- </ion-label> -->
<!-- <ion-badge slot="end" color="danger">{{ n.publishedAt }}</ion-badge> -->
<!-- </ion-item> -->
</ion-list>

</ion-content>
