<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-paddinng">
  <p>
    ที่อยู่ <br>{{Address}}
  </p>

  <ion-button color="light" expand="full" shape="round" routerLink="/favorites" routerDirection="back">
    Go to Back</ion-button>
  <ion-button color="light" expand="full" shape="round" routerLink="/home" routerDirection="back">
    Go to home</ion-button>
</ion-content>