<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-paddinng">
    <p>
      ยินดีต้อนรับ
    </p>

    <ion-button color="light" expand="full" shape="round"routerLink="/about" routerDirection="back">
    Go to Back</ion-button>
    <ion-button color="light" expand="full" shape="round"routerLink="/home" routerDirection="back">
      Go to home</ion-button>
  </ion-content> 

  