<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="openSignup()">
        <ion-icon slot="icon-only" slot="end" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <h1><b>ยินดีต้อนรับ</b></h1>
  <p>
    
  </p>

  <img src="https://gdb.voanews.com/24A4525A-A09E-42FF-A1CE-B0C291CE5325_cx0_cy11_cw0_w650_r1_s.jpg" width="500">

  <ion-button expand="full" shape="round" (click)="goToContact()">
    <ion-icon slot="start" name="start"></ion-icon>

    Open Contact Page
  </ion-button>
  <ion-button expand="full" shape="round" (click)="goBack()">
    <ion-icon slot="start" name="start"></ion-icon>
    Open to Name Page
  </ion-button>

</ion-content>

