<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ionic-padding">
  <p>
    HomePage
  </p>

  <img src="https://deb13aed-a-62cb3a1a-s-sites.googlegroups.com/site/aseangnkc/home/Pathom.gif?attachauth=ANoY7co7pu0kgPM8f1KtAbcMDPdWbjdqWy-a8m8OE0oqx-GDq2pgxdFVgsC3hUjpdA5i3B16hVlBKZQKvY2x68XtkXAWJxE5NcIZd7uKo1UJrNu3LxdryTcderTHsihJi88nGlG3U8PEx2s3H5CDysRyDBd-qHa2iXkfu80QsWSgP5tIzpvGtcFqrfizuqy-zJaZhTKInKR4pCFcUoCzqYHBEjrNmsxM3w%3D%3D&attredirects=0" width="500">

  <ion-button expand="full" shape="round" (click)="goToContact()">
    <ion-icon slot="start" name="start"></ion-icon>

    Open Contact Page
  </ion-button>
  <ion-button expand="full" shape="round" (click)="goBack()">
    <ion-icon slot="start" name="start"></ion-icon>
    Open to Name Page
  </ion-button>

</ion-content>

